* {
    background-color: black;
    font-family: 'Koulen', sans-serif;
    font-weight: light;
    font-size: 100%;
    box-sizing: border-box;    
}

body {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: flex-end;
    height: 20%;
    width: 100%;
    padding: 0px;
    @media (min-width: 600px) {
        padding: 0px;
    };
   
}

a :not(.youtube-channels){
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 1px 0px 1px 3px;
    font-size: 45px;
    transition: color 0.3s ease;
}

a:hover {
    color:rgba(255, 255, 255, 1);
}


ul :not(.youtube-channels){
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
}

ul li :not(.youtubechannels){
    margin-right: 6px;

    &:last-child {
        margin-right: 0px;
    }
}

.section-title-div {
    width: 100%;
    padding: 2%;
    display: flex;
    position: relative;
    align-items: center;
}

h1 {
    text-align: center;
    display: flex;
    color: rgba(255, 255, 255, 0.8);
    font-size: 65px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    display: flex;
    color: rgba(255, 255, 255, 0.8);
    font-size: 45px;
    margin: 0 auto;    
}


img {
    padding: 1% 5% 1% 5%;
    max-width: 45%;
}



.resources {
    display: flex;
    padding: 1% 5% 1% 5%;
    color:rgba(255, 255, 255, 0.8);
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
}

p {
    padding: 5% 6% 5% 6%;
    font-size: 45px;
}
/*
.resources-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/
.websites .youtube {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}