html {
    background-color: black;
    font-family: 'Koulen', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    background: url('./imagenes/httpsunsplash.comesfotosOJX7gIU3E6Uutm_source=unsplash&utm_medium=referral&utm_content=creditShareLink.jpg') center center/cover no-repeat fixed;
}

.navbar {
    display: flex;
    justify-content: flex-end;
}

a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    padding: 1px 0px 1px 3px;
    font-size: 2rem;
    transition: color 0.3s ease;
}

a:hover {
    color:rgb(255, 255, 255);
    transform: scale(1.05);
}


ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 15px;

}

.toggle-button {
    position: absolute;
    top: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5em;
    height: 1em;
    display: none;
}

.toggle-button .bar {
    height: 0.15em;
    width: 1.2em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#title {
    font-size: 5rem;
    letter-spacing: 0.5em;
}

.title-div {
    padding: 5px 5px;
    text-align: center;
    justify-self: center;
}


.section-title {
    text-align: center;
    font-size: 4em;
}


 .small-img {
    padding: 1% 0 1% 5%; 
    max-width: 40em;
    min-width: 0;
}



.container {
    display: flex;
    padding: 1% 5%;
    align-items: center;
    justify-content: center;
}

.text {
    font-size: 2rem;
    text-align: center;
}


.section-div {
    height: 2.5em;
}

.skills {
    display: flex;
    padding: 2px 20px;
    max-width: 90vw;
    margin: 0 auto;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    max-width: 8em;
}

.resources {
    display: flex;
    padding: 1% 5% 1% 5%;
    color:rgba(255, 255, 255, 0.8);
    justify-content: space-evenly;
    flex: 1;
    align-items: center;
}

.resources-div {
    display: flex;
    flex-direction: column;
}

.websites {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    max-width: 30rem;
}

.account-box {
    border-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin: 0 auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    transition: color 0.3s ease transform 0.3s ease;
}

.account-box:hover {
    border-color: rgba(255, 255, 255, 1);
    border-width: 5px;
    transform: scale(1.1);
}

.youtube {
    display: flex;
    gap: 1em;
    justify-content: center;
}

a.youtube-channels {
    padding: 0 0;
    font-size: 3em;
    background-color: black;
    flex-shrink: 1;
}

.youtube-channels {
    align-items: center;
}

.big-img {
    max-width: 100%;
} 


.projects-div {
    position: absolute; 
    display: flex;
}

.img-div {
    display: flex;
    position: relative;
    margin: 0 2em; 
}

.projects {
    max-width: 25rem;
    min-width: 15rem;
    max-height: 40rem;
    min-height: 30rem;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    margin: 2rem;
    transition: transform 0.3s ease;
    text-align: center;
}

.projects:hover {
    transform: scale(1.1);
}

.preview-img {
    max-width: 100%;
}

.preview-title {
    font-size: 1.5rem;
}

.preview-text {
    font-size: 0.8em;
}

.contact {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    align-items: center;
}

.contact-icon {
    max-width: 5em;
}

.cv-div {
    display: none;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .small-img, .big-img{
        display: none;
    }
    .text {
        max-width: 100%;
    }
    .projects-div {
        position: static;
        flex-direction: column;
    }
    .img-div {
        justify-content: center;
    }
    .youtube-channels {
        flex-direction: column;
        justify-content: space-between;
    }
    .container {
        align-items: stretch;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
        margin-left: 10px;
    }
    .navbar-links { 
        display: none;
        width: 100%;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    ul {
        flex-direction: column;

    }
    .navbar-links.active {
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .title-div {
        margin-top: 0;
    }

}

footer {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 2em;
}


